{% load static %}
<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>
Toko Mebel Online, Minimalis dan Terjangkau
 | Anugerah Mebel</title>
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'webs/images/webs/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'webs/images/webs//favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'webs/images/webs/favicon-16x16.png' %}"> 
    <link rel="mask-icon" href="{% static 'webs/images/webs/safari-pinned-tab.svg' %}" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <!-- Place favicon.ico in the root directory -->
    

    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="{% static 'webs/css/bootstrap.min.css' %} " />
    <link rel="stylesheet" href="{% static 'webs/css/flickity.css" />
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="{% static 'webs/css/main.css' %}">
    <!-- endbuild -->
    
    <!-- build:js scripts/vendor/modernizr.js -->
    <script src="{% static 'webs/js/modernizr.js '%}"></script>
    <!-- endbuild -->

    <!-- build:cdn -->
    <script src="https://use.fontawesome.com/11e5832872.js"></script>
    <!-- endbuild -->
  </head>
  <body>
    <!--[if IE]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div class="app">
      

<header class="stick">
  <div class="menu-top d-flex justify-content-between align-items-center">
    <div class="phone">
      <a href="#" class="jm-link">Phone : 0819 123 123 23</a>
    </div>
    <div class="navigation d-flex align-items-center">
      <nav class="navbar navbar-expand-lg py-0">
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="nav-item px-4">
              <a href="/contact" class="">CONTACT</a>
            </li>
            <li class="nav-item px-4">
              <a href="/about" class="">TENTANG KAMI</a>
            </li>
          </ul>
        </div>
      </nav>
      <nav class="menu">
        <ul class="nav">
          <!-- <li class="nav-item px-3">
                  <img src="/static/images/cart.png" alt="" width="18px" height="18px">
                </li>
                <li class="nav-item px-3">
                  <img src="/static/images/search.png" alt="" width="18px" height="18px">
                </li> -->
          <li class="nav-item px-3" id="closeMenu">
            <img
	      src="{% static 'webs/images/webs/cancel.png' %}"
              alt=""
              width="18px"
              height="18px"
            />
          </li>
        </ul>
      </nav>
    </div>
  </div>
  <div class="menu-top d-flex justify-content-between align-items-center">
    <div class="logo">
      <a href="/">
      <img
	src="{% static 'webs/images/webs/loggo.png' %}"
        alt="Anugerah Mebel"
      />
      <a/>
    </div>
    <div class="navigation d-flex align-items-center">
      <nav class="navbar navbar-expand-lg py-0">
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="nav-item px-4">
              <a href="/katalog" class="">KATALOG</a>
            </li>
            <li class="nav-item px-4">
              <a href="/showrooms" class="">SHOWROOMS</a>
            </li>
            <li class="nav-item px-4">PROMO</li>
            <li class="nav-item px-4">
              <a href="/pembayaran-dan-pengiriman" class="active">PEMBAYARAN DAN PENGIRIMAN</a>
            </li>
          </ul>
        </div>
      </nav>
      <nav class="menu">
        <ul class="nav">
          <!-- <li class="nav-item px-3">
                  <img src="/static/images/cart.png" alt="" width="18px" height="18px">
                </li> -->
          <li class="nav-item px-3">
            <img
	      src="{%static 'webs/images/webs/search.png' %}"
              alt=""
              width="18px"
              height="18px"
            />
          </li>
          <li class="nav-item px-3" id="openMenu">
            <img
	      src="{% static 'webs/images/webs/burger.png' %}"
              alt=""
              width="18px"
              height="18px"
            />
          </li>
        </ul>
      </nav>
    </div>
  </div>
  <div class="menu-mob">
    <div class="navigation-mob">
      <nav class="navbar menu flex-column align-items-start">
        <a href="/katalog" class="nav-item">Katalog</a>
        <a href="/showrooms" class="nav-item">Showrooms</a>
        <a href="/promo" class="nav-item">Promo</a>
        <a href="/pembayaran-dan-pengiriman" class="nav-item">pembayaran dan pengiriman</a>
      </nav>
      <nav class="navbar sub-menu flex-column align-items-start">
        <a href="/contact" class="nav-item">Contact</a>
        <a href="/about" class="nav-item">Tentang kami</a>
      </nav>
      <div class="phone">
        <a href="#">+62 8191 2251 622</a>
      </div>
    </div>
  </div>
</header>

      
      



<div class="main-carousel">
  
    <div class="carousel-cell">
	    <img src="{% static 'webs/images/webs/banner-welcome_2BbcNTU.gif' %}" alt="Anugerah Mebel" />
      <div
        class="carousel-text container d-flex flex-column justify-content-center align-items-start"
      >
        <b>Anugerah mebel official website</b>
        <p>Lebih dekat dalam gengaman. lihat berbagai produk dikatalog kami.</p>
        <a href="/katalog" class="btn-jm">lihat katalog</a>
      </div>
    </div>
  
    <div class="carousel-cell">
	    <img src="{% static 'webs/images/webs/banner-map-2_yZaZ7XL.png' %}" alt="Anugerah Mebel" />
      <div
        class="carousel-text container d-flex flex-column justify-content-center align-items-start"
      >
        <b>Temukan lokasi showroom kami di sekitar anda.</b>
        <p>Jawa, Bali dan Online</p>
        <a href="/showrooms" class="btn-jm">showroom kami</a>
      </div>
    </div>
  
</div>
 



<div class="storefront container related text-left mt-9 mb-10">
  <b></b>
  <div class="products d-flex">
    
    <a
      href="/product/17/pintu-minimalis-07"
      class="item d-flex flex-column justify-content-between align-items-center"
    >
      <div class="caption w-100 d-flex justify-content-between">
        <div class="detail">
          <h2 class="title">Pintu Minimalis 07</h2>
          <div class="price">RP 0</div>
        </div>
        <span class="label label-None text-uppercase">None</span>
      </div>
      <div class="images text-center">
        <img
          src="/media/images/anugerah_pintu_minimalis_07.jpeg"
          alt="JM-195"
          class="img-fluid"
        />
      </div>
      <div class="model w-100 text-left">JM-PM007</div>
    </a>
    
    <a
      href="/product/16/pintu-minimalis-06"
      class="item d-flex flex-column justify-content-between align-items-center"
    >
      <div class="caption w-100 d-flex justify-content-between">
        <div class="detail">
          <h2 class="title">Pintu Minimalis 06</h2>
          <div class="price">RP 0</div>
        </div>
        <span class="label label-None text-uppercase">None</span>
      </div>
      <div class="images text-center">
        <img
          src="/media/images/anugerah_pintu_minimalis_05.jpeg"
          alt="JM-195"
          class="img-fluid"
        />
      </div>
      <div class="model w-100 text-left">JM-PM006</div>
    </a>
    
    <a
      href="/product/15/pintu-jati-blok-double"
      class="item d-flex flex-column justify-content-between align-items-center"
    >
      <div class="caption w-100 d-flex justify-content-between">
        <div class="detail">
          <h2 class="title">Pintu Jati Blok Double</h2>
          <div class="price">RP 0</div>
        </div>
        <span class="label label-None text-uppercase">None</span>
      </div>
      <div class="images text-center">
        <img
          src="/media/images/anugerah_pintu_blok_dobel_1.jpeg"
          alt="JM-195"
          class="img-fluid"
        />
      </div>
      <div class="model w-100 text-left">JM-PBD001</div>
    </a>
    
    <a
      href="/product/14/pintu-jati-minimalis-double"
      class="item d-flex flex-column justify-content-between align-items-center"
    >
      <div class="caption w-100 d-flex justify-content-between">
        <div class="detail">
          <h2 class="title">Pintu Jati Minimalis Double</h2>
          <div class="price">RP 0</div>
        </div>
        <span class="label label-None text-uppercase">None</span>
      </div>
      <div class="images text-center">
        <img
          src="/media/images/anugerah_pintu_minimalis_01.jpeg"
          alt="JM-195"
          class="img-fluid"
        />
      </div>
      <div class="model w-100 text-left">JM-PMD002</div>
    </a>
    
  </div>
</div>


<div class="banner d-flex">
  <div
    class="item d-flex flex-column justify-content-center align-item-center text-center w-100"
  >
    <img
      src="/static/images/anugerah-banner.png"
      alt="Anugerah mebel Banner"
    />
    <p>
      Kami Anugerah mebel melayani pembuatan pintu, kusen, jendela, meja kursi,
      lemari, dan berbagai kebutuhan rumah anda. Lihat berbagai produk yang kami
      tawarkan di :
    </p>
    <h1>Anugerah Katalog</h1>
  </div>
</div>




<div class="storefront container related text-left mt-9 mb-10">
  <b></b>
  <div class="products d-flex">
    
    <a
      href="/product/1/kursi-tamu-02"
      class="item d-flex flex-column justify-content-between align-items-center"
    >
      <div class="caption w-100 d-flex justify-content-between">
        <div class="detail">
          <h2 class="title">kursi tamu</h2>
          <div class="price">RP 0</div>
        </div>
        <span class="label label-New text-uppercase">New</span>
      </div>
      <div class="images text-center">
        <img
          src="/media/images/anugerah_kursi_makan.jpeg"
          alt="JM-195"
          class="img-fluid"
        />
      </div>
      <div class="model w-100 text-left">JM-K002</div>
    </a>
    
    <a
      href="/product/8/pintu-jati-minimalis-dobel"
      class="item d-flex flex-column justify-content-between align-items-center"
    >
      <div class="caption w-100 d-flex justify-content-between">
        <div class="detail">
          <h2 class="title">Pintu minimalis dobel</h2>
          <div class="price">RP 0</div>
        </div>
        <span class="label label-Top text-uppercase">Top</span>
      </div>
      <div class="images text-center">
        <img
          src="/media/images/anugerah_pintu_minimalis_depan_dobel.jpeg"
          alt="JM-195"
          class="img-fluid"
        />
      </div>
      <div class="model w-100 text-left">JM-PMD001</div>
    </a>
    
    <a
      href="/product/4/meja-cafe-01"
      class="item d-flex flex-column justify-content-between align-items-center"
    >
      <div class="caption w-100 d-flex justify-content-between">
        <div class="detail">
          <h2 class="title">meja cafe</h2>
          <div class="price">RP 0</div>
        </div>
        <span class="label label-Top text-uppercase">Top</span>
      </div>
      <div class="images text-center">
        <img
          src="/media/images/anugerah_meja_cafe_k9fHbxX.jpeg"
          alt="JM-195"
          class="img-fluid"
        />
      </div>
      <div class="model w-100 text-left">JM-P103</div>
    </a>
    
    <a
      href="/product/17/pintu-minimalis-07"
      class="item d-flex flex-column justify-content-between align-items-center"
    >
      <div class="caption w-100 d-flex justify-content-between">
        <div class="detail">
          <h2 class="title">Pintu Minimalis 07</h2>
          <div class="price">RP 0</div>
        </div>
        <span class="label label-None text-uppercase">None</span>
      </div>
      <div class="images text-center">
        <img
          src="/media/images/anugerah_pintu_minimalis_07.jpeg"
          alt="JM-195"
          class="img-fluid"
        />
      </div>
      <div class="model w-100 text-left">JM-PM007</div>
    </a>
    
  </div>
</div>


<div class="banner d-flex">
  <div
    class="item d-flex flex-column justify-content-center align-item-center text-center w-100"
  >
    <img
      src="/static/images/interior.jpg"
      alt="Anugerah mebel Banner"
    />
    <p>
      Anugerah mebel katalog
    </p>
    <h1>Interior</h1>
    <a href="/katalog/interior" class="btn-jm">lihat katalog</a>
  </div>
  <div
    class="item d-flex flex-column justify-content-center align-item-center text-center w-100"
  >
    <img src="/static/images/ekterior.jpg" alt="Anugerah mebel Banner" />
    <p>
      Anugerah mebel katalog
    </p>
    <h1>Eksterior</h1>
    <a href="/katalog/eksterior" class="btn-jm">lihat katalog</a>
  </div>
</div>




<div class="storefront container related text-left mt-9 mb-10">
  <b></b>
  <div class="products d-flex">
    
  </div>
</div>



      
      <footer>
  <div class="d-flex justify-content-between flex-wrap align-item-center">
    <div class="item">
      <b class="text-uppercase">anugerah 2020</b>
      <span>all right reserved</span>
    </div>
    <div class="item">
      <span>privacy policy</span>
      <span>pusat informasi</span>
    </div>
    <div class="item">
      <i class="fa fa-facebook fa-2x"></i>
      <i class="fa fa-instagram fa-2x"></i>
    </div>
  </div>
</footer>

    </div>

        

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='https://www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-XXXXX-X');ga('send','pageview');
    </script>
   
  </body>
    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="{% static 'webs/js/bootstrap.js' %}"></script>
    <script src="{% static 'webs/js/modernizr.js' %}"></script>
    <script src="{% static 'webs/js/jquery.js' %}"></script>
    <script src="{% static 'webs/js/matches-selector.js' %}"></script>
    <script src="{% static 'webs/js/ev-emitter.js' %}"></script>
    <script src="{% static 'webs/js/utils.js' %}"></script>
    <script src="{% static 'webs/js/get-size.js' %}"></script>
    <script src="{% static 'webs/js/unipointer.js' %}"></script>
    <script src="{% static 'webs/js/unidragger.js' %}"></script>
    <script src="{% static 'webs/js/index.js' %}"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js scripts/plugins.js -->
    <script src="{% static 'webs/js/util.js' %}"></script>
    <script src="{% static 'webs/js/alert.js' %}"></script>
    <script src="{% static 'webs/js/button.js' %}"></script>
    <script src="{% static 'webs/js/carousel.js' %}"></script>
    <script src="{% static 'webs/js/collapse.js' %}"></script>
    <script src="{% static 'webs/js/dropdown.js' %}"></script>
    <script src="{% static 'webs/js/modal.js' %}"></script>
    <script src="{% static 'webs/js/scrollspy.js' %}"></script>
    <script src="{% static 'webs/js/tab.js' %}"></script>
    <script src="{% static 'webs/js/tooltip.js' %}"></script>
    <script src="{% static 'webs/js/popover.js' %}"></script>
    <script src="{% static 'webs/js/jquery.min.js' %}"></script>
    <script src="{% static 'webs/js/flickity.pkgd.min.js' %}"></script>
    <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
    <!-- endbuild -->

    <!-- build:js scripts/main.js -->
    <script src="{% static 'webs/js/main.js' %}"></script>
    <!-- endbuild -->
</html>

